header{
    z-index: 5;
    position:relative;
    margin-top:1rem;
    font-family: 'Copperlate', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:#FFC70A;
    height: 112px;
    max-width:100%;

    .display{
        display:flex;
        align-items: center;
    }

    .black{
        background-color:#0B0700;
    }
    .logo{
        margin-right:10px;

        @media screen and (max-width: 768px){
            height:40px;
        }
    }
    .menu{
        display:flex;
        align-items: center;
        gap:12px;
        font-family:'Copperplate CC',sans-serif;
        font-weight: bold;

                // position:fixed;
                // left:-100%;
                // display:column;



        a {
            color:#FFC70A;
            font-size:16px;

        }

    }
    .menu > .menu-item{
        text-align:center;
        align-items:center;
        justify-content:center;
        padding-top:1rem;
        padding-bottom:1rem;

        &:hover{
            .sub-menu{
              display:block;  
            }
            
        }
    }
    .sub-menu{
        position:absolute;
        display:none;

        & > .menu-item{
            text-align:left;
            background-color:#0B0700;
            margin-top:10px;
        }
    }
    .margin_side{
        margin-left:2rem;
        margin-right:2rem;

        @media screen and (max-width: 768px){
            margin-left:1rem;
        }
    }

    .menu_item{
        padding-right:1rem;
    }
    .align-right{
        text-align:right;
    }


}
//---------------------------------------------------------------menu burger ---------------------------------
// #nav{
//     display:flex;
// }
// .burger{
//     display: none;
//     cursor:pointer;


//     @media (max-width:650px){
//         display:block;

//         :before{
//             content:"\2630";
//         }
//     }
// }
// .cross{
//     display:none;
// }


//font-size:calc(0.5rem +1.5vw);









// ------------------------------------------------------------------------------------------------------------------------------------
body{
    background-color:#0B0700 ;
    color:#FFFFFF;
}