.desktop_only{
    z-index: 5;
    position:relative;
    margin-top:1rem;
    font-family: 'OPTICopperlate';
    font-weight: bold;
    font-size: 18px;
    color:#FFC70A;
    height: 112px;
    max-width:100%;
    align-items:center;
    text-align:center;

    .display{
        display:flex;
        align-items: center;
    }

    .black{
        background-color:#0B0700;
    }
    .logo{
        margin-right:10px;
        width:250px;


        @media screen and (max-width: 768px){
            height:40px;
        }
    }
    .menu{
        display:flex;
        align-items: center;
        gap:30px;
        font-family:'Copperplate CC',sans-serif;
        font-weight: bold;

                // position:fixed;
                // left:-100%;
                // display:column;



        a {
            color:#FFC70A;
            font-size:16px;
            flex-shrink: 0;
        }

    }
    .menu > .menu-item{
        text-align:center;
        align-items:center;
        justify-content:center;
        padding-top:1rem;
        padding-bottom:1rem;

        &:hover{
            .sub-menu{
              display:block;  
            }
            
        }
    }
    .sub-menu{
        position:absolute;
        display:none;

        & > .menu-item{
            text-align:left;
            background-color:#0B0700;
            margin-top:10px;
        }
    }
    .margin_side{
        margin-left:2rem;
        margin-right:2rem;

        @media screen and (max-width: 768px){
            margin-left:1rem;
        }
    }

    .menu_item{
        padding-right:1rem;
    }
    .align-right{
        text-align:right;
    }


}

//---------------------------------------------------------------menu burger ---------------------------------
.mobile_only {
    .logo{
        width:104px;
        height:100%;
    }

    .burger_click{
        margin-left:50%;
        margin-top:3%;
        padding:1%;
        cursor: pointer;
    }
    .burger{
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            
            background: #FFC70A;
            border-radius: 3px;
            
            z-index: 5;

          }
          
    .menu_burger{
        display:none;
        background-color:#0B0700;
        color:#FFC70A;
        width:100%;
        height:100%;
        z-index: 3;
        position: absolute;
        margin-left: -88%;
        margin-top: -6%;

        .menu{
            margin-top:5%;
            font-family:'Copperplate CC',sans-serif;
            font-weight: bold;

            a {
                color:#FFC70A;
                font-size:16px;
                flex-shrink: 0;
            }
    
        }
        .menu > .menu-item{
            text-align:center;
            align-items:center;
            justify-content:center;
            padding-top:1rem;
            padding-bottom:1rem;
    
            &:hover{
                .sub-menu{
                    display:block;  
                    margin-left: 7%;
                    background-color: black;
                }
                
            }
        }
        .sub-menu{
            position:absolute;
            display:none;
    
            & > .menu-item{
                text-align:left;
                background-color:#0B0700;
                margin-top:10px;
            }
        }
    }
}








// ------------------------------------------------------------------------------------------------------------------------------------
body{
    background-color:#0B0700 ;
    color:#FFFFFF;
}
