.H1{
    font-family:'Poppins',sans-serif;
    font-size : 28px;
    font-weight: bold;
    @media screen and (max-width: 758px) {    
        font-size: 23px;
}
}

.H2{
    font-family:'Poppins',sans-serif;
    font-size : 20px;
    font-weight: bold;
    @media screen and (max-width: 758px) {
        font-size: 20px;
}
}

.title_home{
    color:#FFFDF4;
}
body{
    font-family:'Poppins',sans-serif;
    font-weight:400;
    font-size:16px;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}

//CSS image en fond avec logo dessus-----
.header_2{
    position: relative;
}

    
.gradient{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* ajustez la largeur de la forme selon vos besoins */
    height: 800px;
    background: linear-gradient(to bottom, rgba(11, 7, 0, 0), rgba(0, 0, 0, 1));

    @media screen and (max-width: 768px){
        height:300px;
    }
}

.over{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top:6rem;
    

    .img_center{
        display: flex;
        justify-content: center;
        width:30%;
        margin-left:35%;
    } 
        .logo{
            justify-content: center;
            align-items: center;
            width: 380px;
            margin: 54px 0 28px;
        }

        .center{
            text-align:center;
        }
    
     
        .arrow{
            margin-top:-2rem;
        }
        .arrows{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top:0.5rem;
        }
    }
//div infos adhérent-------------------------------------
.informations{
    background-color:#FFC70A;
    border-radius:10px;
    height:100%;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    z-index:5;
    padding:2%;
    margin-bottom: 41px;

    @media screen and (max-width: 758px) {
        width: 80%;
        margin-top:80%;
    }

}
    .flex{
        display:flex;
        @media screen and (max-width: 758px) { 
            flex-direction: column;
        }
    }
    .center_accueil{
        justify-content: center;

        @media screen and (max-width: 758px) {
        display: flex;
        flex-direction: row;
        }
    }
        .logoI{
            margin-top:20px;
            margin-left:15px;
        }
        .text_info{
            margin-top:20px;
            font-family:'OPTICopperplate',sans-serif;
            font-weight: bold;
            font-size:27px;
            color:#0B0700;
            margin-left:20px;

            @media screen and (max-width: 758px) { 
                font-size: 16px;
            }
        }

        .text_info_p{
            margin-top:20px;
            text-align:center;
            font-size:18px;;
            color:#0B0700;

            @media screen and (max-width: 758px) { 
                font-size: 15px;
            }
        }



//étoiles illsutration-------------------------------
.stars-right{
    position: absolute;
    right: 0;
    top: 550px;

    @media screen and (max-width: 768px){
        display: none;
    }
}

.stars-center{
    position: absolute;
    right: 300px;
    top: 800px;

    @media screen and (max-width: 768px){
        display: none;
    }
}

//blocs de texte - paragraphes-------------------------

.column{
    width:30%;
    text-align:center;

    @media screen and (max-width:768px){
        width: 84%;
    }
}
    .title{
        position:relative;
        overflow:hidden;
    }
    .glitters_texts{
        position:absolute;
        z-index: -1;
    }
    div.title {
        position: relative;

        h2 {
            font-family:'Varsity',sans-serif;
            font-weight: 800;
            font-size:36px;

            @media screen and (max-width: 758px) {
                font-size: 20px;
        }
        }

        img {
            position: absolute;
            left: -19px;
            top:-12px;
        }

    }
    .h2_glitters{
        position:relative;
    }
    .underline_button_home{
        justify-content: center;
    }

.bloc{
    margin-top:20px;
    font-family:'Poppins',sans-serif;
    font-size:20px;

    @media screen and (max-width: 758px) { 
        font-size: 13px;
    }

}  
div.blocks {
    > div.column:nth-of-type(even) {
        margin-left:800px;

        @media screen and (max-width:768px){
            padding:8%;
            margin-left:0;
        }
    }

    > div.column:nth-of-type(odd) {
        margin-left:200px;

        @media screen and (max-width:768px){
            width: 84%;
            padding:8%;
            margin-left:0;
        }
    }
}

//bloc texte entrainement--------------------------------------------------------------------------------------
.glitters{
    z-index:-1;
    position:absolute;
    top:1150px;

    @media screen and (max-width:768px){
        display:none;
    }
    

}
.top90{
    margin-top:90px;
    max-width:100%;
}

    .column_50{
        width:50%;

        @media screen and (max-width: 758px) { 
            width:100%;
        }
        .training{
            width:100%;
            height:100%;
            object-fit: cover;

        }
    }

    .white{
        background-color:#FFFDF4;
        height:508px;
        padding:30px;
        text-align:justify;

        @media screen and (max-width: 758px) {
            height:100%;;
            padding:0;

        }

        h2{
            color:#0B0700;
            font-family:'Varsity',sans-serif;
            font-weight: normal;
            font-size:36px;
            text-align:center;
            margin-top:5%;

            @media screen and (max-width: 758px) {
                font-size: 20px;
            }
        }
        p{
            color:#0B0700;
            margin-top:10%;
            text-align:center;
            font-family:'Poppins',sans-serif;
            font-size:20px;

            @media screen and (max-width: 758px) { 
                font-size: 13px;
            }
        }
    }

.prochains_event{
    font-family:'OPTICopperplate',sans-serif;
}
    .button_discover{
        text-align:center;
        align-items:center;
        margin-top:30px;
    }

//----------Calendrier-----------------------
.calendar_home{
    color:#FFFDF4;
    font-family:'Varsity',sans-serif;
    font-weight: normal;
    font-size:36px;
    text-align:center;
    margin-top:5%;

    @media screen and (max-width: 758px) {
        font-size: 20px;
}


}
.horizontal_bar{
    border-top: 1px solid #FFFDF4;
    width: 80%;
    margin-top:60px;
}

.vertical_bar{
    border-left: 1px solid #FFFDF4;
    height: 30%;
    margin-left:80px;

    @media screen and (max-width: 758px) {
        margin-left:8%;
}
}
.title_event{

    align-items:center;
    justify-content: left;
    margin-left:60px;
    margin-top:20px;
    margin-left:60px;
    margin-bottom:40px;

    @media screen and (max-width: 758px) {
        display: flex;
        flex-direction: row;
        margin-left: 8%;
    }


    p{
        margin-top:10px;
        margin-left:10px;
    }
}
.event{
    margin:20px;
}

//------------------------Photos noir et blanc et couleurs hover
.photosnb {
    width: 100%;
    height: 600px;
    display: flex;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 80px;

    @media screen and (max-width: 758px) {
        flex-direction: column;
        width: 82%;
        height: auto;
        padding-right: 8%;
        padding-left: 8%;
    }
}

.vertical {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media screen and (max-width: 758px) {
        width: 100%;
        height: 100%;
    }

    .image {
        width: 100%;
        height: 100%;

        .img {
            max-width: 100%;
            height: auto;
        }
    }
}

.horizontal {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (max-width: 758px) {
        width: 100%;
        height: 100%;
    }

    .image {
        height: 50%;
        width: 100%;

        .img {
            max-width: 100%;
            height: auto;
        }
    }
}
.image{

    filter: grayscale(1);

    &:hover{
        filter: grayscale(0);
    }    
    img{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}