// *{
//     box-sizing: border-box;
// }
.qui_sommes_nous{

    h1{
        font-family: 'Varsity';
        font-size: 50px;
        color: #FFFDF4;
        text-align: center;
        margin-bottom: 74px;
    }

    .chapo{
        font-family: 'Poppins';
        font-size: 20px;
        color: #FFC609;
        font-weight: 600;
    }

    p{
        color: #FFFDF4;
        font-family: 'Poppins';
        font-size: 20px;
    }

    li{
        color: #0B0700;
        font-family: 'Poppins';
        font-size: 20px;
        padding-left: 9%;
        padding-right: 9%;
    }

    .club{
        display: flex;
    }

    .mot_gras{
        font-weight: 600;
    }

    .texte_club{
        width: 50%;
        
    }

    #gsc{
        width: 50%;
        
    }

    .blanc{
        background-color: #FFFDF4;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 35px;
        margin-bottom: 100px;
        position: relative;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .blanc p{
        color: #0B0700;

    }

    #paillettes{
    z-index: -1;
        position: absolute;
        top:60%;
        right: 0;
        height: 500px;
    }

    .valeurs{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        gap:50px;
        margin-bottom: 40px;
    }

    .valeurs p{
        text-align: middle;
    }

    // h2{
    //     font-family: 'Copperplate gothic';
    //     font-size: 25px;
    // }

    .rectangle_jaune{
        background-color: #FFC609;
        border-radius: 25px;
        width: 40%;
        text-align: center;
        padding: 15px;
        opacity: 0.9;
    }

    .rectangle_jaune p{
        color: #0B0700;
        font-family: 'Poppins';
        font-size: 20px;
    }

    .rectangle_blanc p{
        color: #0B0700;
        font-family: 'Poppins';
        font-size: 20px;
    }

    .rectangle_blanc{
        background-color: #FFFDF4;
        text-align: center;
        border-radius: 25px;
        width: 40%;
        padding: 20px;
        opacity: 0.9;
    }

    .underline p{
        color: #FFC70A;
    }


    @media screen and (max-width: 425px){
        .club{
            flex-direction: column;
        }

        .blanc p{
            padding:0 15px ;
        }

        .valeurs{
            flex-direction: column;
            justify-content: center;
        }

        // p{
        //     font-size: 13px;
        // }

        // h1{
        //     font-size: 23px;
        // }

        .rectangle_blanc{
            width: 100%;
        }

        .rectangle_jaune{
            width: 100%;
        }    

        .rectangle_jaune p{
            font-size: 13px;
        }

        .rectangle_blanc p{
            font-size: 13px;
        }

        // li{
        //     font-size: 13px;
        // }

        #paillettes{
            top:60%;
            width: 100%;
        }

        // h2{
        //     font-size: 20px;
        // }

        .chapo{
            font-size: 13px;
        }

        #gsc{
            width: 100%;
        }

        .texte_club{
            width: 100%;
        }

    }
}