@import "styles/reset.scss";

@font-face {
    font-family: 'OPTICopperplate';
    src: url('../fonts/OPTICopperplate.woff2') format('woff2'),
        url('../fonts/OPTICopperplate.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Varsity';
    src: url('../fonts/VarsityRegular.woff2') format('woff2'),
        url('../fonts/VarsityRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');



@import "styles/header.scss";
@import "styles/home.scss";
@import"styles/wrap.scss";
@import "styles/buttons.scss";
@import "styles/footer.scss";
@import"styles/commun.scss";
@import"styles/qui_sommes_nous.scss";
@import"styles/cheerleading.scss";
@import"styles/inscription.scss";
@import"styles/calendrier.scss";
@import"styles/equipe.scss";
@import"styles/entrainement.scss";
@import"styles/contact.scss";
@import"styles/mentions_legales.scss";

// *{
//     outline:1px solid red;
// }